@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(./assets/Roboto-Bold.ttf);
}

.whole{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding-top: 5%;
    background-color: #ffffff;
    padding: 0 25%;
    font-family: 'Roboto-Regular';
}

.chat-place{
    resize: none;
    border-radius: 10px;
    pad: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.sub-chat{
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(41, 60, 143);
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.sub-chat:hover{
    background-color: rgb(30, 46, 114);  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;;
}

.AIimg{
    border-radius: 10px;
    width: 300px;
    height: 170px;
}

.result-grid{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.youtube-title{
    text-align: left;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    cursor: default;
    transition: .3s;
}

.youtube-title:hover{
    scale: 102%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px,rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.youtube-desc{
    text-align: left;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    cursor: default;
    transition: .3s;
}

.youtube-desc:hover{
    scale: 102%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px,rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.image-wrap{
    display: flex;
    gap: 5px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.downIcon-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download-icon{
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    width: 50px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: .3s;
}

.download-icon:hover{
    scale: 103%;
}

/* .youtube-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
width: 300px;
border-radius: 10px;
height: 170px;
padding: 5px;
background-color:rgb(15, 33, 112) ;
color: white;
cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.youtube-desc{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    height: 170px;
    padding: 5px;
    background-color:rgb(15, 33, 112) ;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
} */



.chat-input{
    width: 80%;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}

.disabled{
    color: red;
}


.down-part{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.usage-alert{
    font-family: 'Roboto-Bold';
}

.usage-left{
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 0 5px;
    text-align: center;
}


