@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


.faq{
    font-family: 'Gabarito';
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    padding-bottom: 24px;
}

.faq .faq-headline{
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    text-align: center;
    padding-top: 72px;
}

.faq .faq-container{
    display: flex;
    flex-direction: column;
    margin-top: 24px;

}

.faq .faq-container .faq-item{
    border-radius: 3px;
    width: 720px;
    min-height: 30px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq .faq-container .faq-item .right-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.faq .faq-container .faq-item .right-part p{
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 20px;
}

.faq .faq-container .faq-item .left-part{
    width: 90%;
}

.faq .faq-container .faq-item h3{
    font-weight: 400;
}

.faq .faq-container .faq-item .left-part p{
    display: none;
    font-weight: 400;
    font-size: 16px;
    color: #6b7280;
    }

.faq .faq-container .faq-item .left-part p.clicked {
    display: block;
    animation: fadeIn 0.5s;
}


@media screen and (max-width: 768px){
    .faq .faq-container .faq-item{

        width: 100%;

    }
    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

