@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/Roboto-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family:'roboto-regular';
    background-color: #171717;
    /* height: 120vh; */
    color:rgb(255, 255, 255);
    padding: 0 25%;
width: 100%;
}

.hero-text{
    font-size: 2rem;
    padding-top: 20px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center ;
padding-bottom: 6%;
}

.bold-text{
    font-family: 'Roboto-Bold';

}

.hero-text p{
    color:rgba(255, 255, 255, 0.7);
}

.get-started-btn {
    box-shadow: 0 4px 20px rgba(255, 241, 46, 0.2);
    margin-top: 30px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 225, 53);
    color: #000000;
    font-size: 1.6rem;
}

.get-started-btn a {
color:#171717;
}


.boring-part{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 4px;
    border-radius: 15px;
}

.hero-img img{
height: 400px;
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.hero-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0 25%;
}

.import-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.import-btn{
    font-size: 1rem;
    font-family: 'Roboto-Regular';
    margin: 10px;
    border: none;
background-color: #ffffff;
color: rgb(0, 0, 0);
padding: 10px 15px;
border-radius: 3px;
cursor: pointer;
}

.get-response{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.image{
    border-radius: 10px;
    max-width: 300px;
    max-height: 170px;
}

.value-input{
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 46px;
    width: 500px;
    appearance: none;
    transition: border 0.15s ease 0s; 

}

.value-input-text{
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 200px;
    width: 500px;
    resize: none;
    appearance: none;
    transition: border 0.15s ease 0s; 
}

.upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.upload-youtube{
       font-size: 1rem;
    font-family: 'Roboto-Regular';
    margin: 10px;
    border: none;
background-color: #e5ff00;
color: rgb(0, 0, 0);
padding: 10px 15px;
border-radius: 3px;
cursor: pointer; 
}

#popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .popup {
    padding: 30px 60px;
    background-color: white;
    color: black;
    z-index: 999;
    position: fixed;
    border-radius: 15px;
    left: 50%;
    top: 50%; /* Add this line */
    transform: translate(-50%, -50%);
    animation: fadeIn 0.2s ease-in-out;
  }

.how-use{
    text-align: center;
    font-size: 3rem;
}

.balance{
    animation: .8s plus-balance ease-in-out,fadeOut 1.1s ease-in;

    height: 10px;
    color: rgba(239, 68, 68, .8);
}

.space{
    height: 10px;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  @keyframes plus-balance {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

@media screen and (max-width: 1380px) {
    .hero{
      height: fit-content;;
    }

    .hero-img img{
        height: 300px;
        margin-bottom: 20px;
    }
    .hero{
        padding: 0 10%;
    }



@media screen and (max-width: 675px) {

    .hero-img img{
        height: 250px;
    }
    .value-input{
        width: 250px;
    }
    .value-input-text{
        width: 250px;
    }
    .hero{
        padding: 0 5%;
    }
}
}

