@font-face {
    font-family: 'Custom-Font';
    src: url(./assets/ProductSansRegular.ttf);
}

@font-face {
    font-family: 'Font-Bold';
    src: url(./assets/ProductSansBold.ttf);
}



.whole-nav{
    display: flex;
    font-family: 'Custom-Font';
    align-items: center;
}

.nav-logo{
    height: 60px;
    width: auto;
}

.nav-links{
    display:flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.nav-links a{
    color: white;
}

.sign-up-btn{
    background-color: white;
    color: black;
}

.nav-links a.sign-up-btn{
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.profile-btn{
    background-color: white;
    color: black;
    border-radius: 5px;

}

.profile-btn a{
    color: black;
    padding: 5px 10px;

}

.profile-btn a:hover{
    text-decoration: none;

}

.logOut-btn{
    color: rgb(39, 39, 39);
    background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 1rem;
}

a.logOut-btn{
    color: black;
}



a.logOut-btn:hover{
text-decoration: none;
}
