@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

.all{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.whole-nav{
    display: flex;
    font-family: 'Gabarito';
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 25%;
    height: 10vh;
    border-top: 5px solid #2563eb;
    width: 100%;

}

.nav-logo{
    height: 60px;
    width: auto;
}

.right-nav-part a{
    color: white;
    background-color: #2563eb;
    padding: 6px 12px;
    border-radius: 3px;
    text-decoration: none;
}


@media screen and (max-width: 768px){

    .whole-nav{
        padding: 0 10px;
    }
}










