@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


.pricing{
    font-family: 'Gabarito';
    width: 100%;
    padding: 24px;

}

.pricing .pricing-headline{
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    text-align: center;
}

.pricing .pricing-desc{
    margin-top: 24px;
    padding: 0 25%;
    font-weight: 400;
    font-size: 20px;
    color: #6b7280;
    text-align: center;
}

.pricing .pricing-desc span{
    color: #3b82f6;
    font-weight: 700;
}

.pricing .pricing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 48px;
}

.pricing .pricing-container .purchase-btn{
    padding: 6px 12px;
    background-color: #2563eb;
    color: #ffffff;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
}

.pricing .pricing-container .purchase-btn:hover{
    background-color: #1d4ed8;
}

.pricing .pricing-container .credits-show{
    font-size: 20px;
}

.pricing .pricing-container .credits-show span{
    font-weight: 800;
    color: #000000;

}

.credit-add{
    font-size: 20px;
    font-weight: 700;
    color: #3b82f6;
    position: absolute;
    transform: translate(100px, 30px);
    animation: fade 0.5s ease;
}




@media screen and (max-width: 768px){
    .pricing .pricing-desc{
        padding: 0 10%;
    }
    
}


@keyframes fade {
    0% {
        opacity: 0;
        transform: translate(100px, 100px);
    }
    100% {
        opacity: 1;
        transform: translate(100px, 30px);
    }
}

