@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/Roboto-Regular.ttf);
}

.pricing{
    height: 100vh;
    background-color: #0f2777;
    padding: 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-family: 'Roboto-Regular';
}

.price-card{
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.price-card-header{
    font-size: 1.7rem;
}

.All-in{
    border: 4px solid #eab308;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(230, 177, 18, 0.6);
}


.top-chosen{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: #e6b112;
    border-radius: 30px;
    padding: 5px 10px;
    
    box-shadow: 0 0 10px rgba(230, 177, 18, 0.8);
}

.price-content{

    line-height: 2.5rem;
}

.content-text.no{
    opacity: 50%;
}

.price-card-footer{
    display: flex;
    justify-content: center;
    align-items: center;

}

.price-card-footer button{
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background: #1b399e;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
}

.price-card-footer button:hover{
    background: #102877;

}


@media screen and (max-width: 1672px) {
    .price-content{
        line-height: 2rem;
    } 
}

@media screen and (max-width: 1380px){

    .pricing{
        flex-direction: column;
        height: fit-content;
        padding: 5% 15%;
    }  
    
}

@media screen and (max-width: 675px){

    .pricing{
        padding: 5% 0;
    }  
    .price-card{
        width: 70%;
    }
    
}





