.signup{
    font-family: 'Roboto-Regular';
    background-color: #171717;
    height: 93.6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    font-size: 1.2rem;
}

.signForm-border{
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
}

.signup-form{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.signup-form input{
    width: 100%;
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 46px;
    appearance: none;
    transition: border 0.15s ease 0s;
  
}

.checkBox-agg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

.login-link a{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.verification-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;

}

.verification-input{
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 46px;
    width: 150px;
    appearance: none;
    transition: border 0.15s ease 0s;
}

.submit-verification{
    cursor: pointer;
    padding: 6px 12px;
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 13px;
}

.wrong-verification{
    color: rgb(233, 73, 73);
    font-size: 1rem;
}

.password-error{
    color: rgb(233, 73, 73);
    font-size: 1rem;
}