@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/ProductSansRegular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(./assets/ProductSansBold.ttf);
}

.token{
    min-height: 40vh;
    background-color: #171717;
    color: white;
    font-family: 'Roboto-Regular';
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 1.6rem;
}

.text-place{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;

}



.buy-btn{
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #171717;
    padding: 6px 12px;
    cursor: pointer;
}

.balance-place{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
    padding: 10px;
}

.plus-balance{
    color:rgb(189, 189, 189);
    animation: plus-balance 1s ;
}

p.cost{
    font-size: 1rem;
    font-family: 'Roboto-Bold';

}

@keyframes plus-balance {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }

}


@media screen and (max-width: 768px){
    .token{
        min-height: 65vh;
    }
    
}