@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

.youtube-upload {
    font-family: 'Gabarito';
    min-height: 90vh;
    padding: 0 25%;
    background-color: #eff6ff;
    color: #1e3a8a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.youtube-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #ffffff;
    width: 1000px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    margin-top: 48px;
}

.youtube-form .top-btns{
    display: flex;
    gap: 20px;
    align-items: center;

}

.youtube-form .top-btns .video-add-btn .label-upload{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Gabarito';
    margin: 10px;
    border: none;
    background-color: #ffffff;
    color: #1d4ed8;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.youtube-form .top-btns .video-add-btn .label-upload:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px,rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}

.youtube-form .top-btns .video-add-btn .label-upload svg{
    height: 20px;
    width: 20px;
    fill: #1d4ed8;

}


.download-img-wrapper .imageGen{
    border-radius: 10px;
    max-width: 300px;
    max-height: 170px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

input[type="file"] {
    display: none;
}

.youtube-form .top-btns .send-video-btn{
    font-size: 18px;
    font-family: 'Gabarito';
    border: none;
    background-color: #2563eb;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.youtube-form .top-btns .send-video-btn:hover{
    background-color: #1d4ed8;
}  

.youtube-form .top-btns .send-video-btn.disabled{
    cursor:default;
    font-size: 18px;
    font-family: 'Gabarito';
    border: none;
    background-color: #6b7280;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  
}

.youtube-form .top-btns .send-video-btn.disabled:hover{
    cursor:default;
    font-size: 18px;
    font-family: 'Gabarito';
    border: none;
    background-color: #6b7280;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
}

.credits-part{
    display: flex;
    gap: 10px;
    align-items: center;

}

.credits-part .buy-btn{
    padding: 6px 12px;
    background-color: #2563eb;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.buy-btn:hover{
    background-color: #1d4ed8;
}

.youtube-form .response-wrap{
    display: flex;
    gap: 10px;
    width: 40%;
}

.youtube-form .response-wrap input[type="text"]{
    display: inline-block;
    padding: 0 16px 0 12px;
    width: 100%;
    line-height: 30px;
    height: 32px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(8, 7, 7);
    transition: border .1s linear,background-color .1s linear;

}

.youtube-form .response-wrap input[type="text"]:focus{
    outline: none;
    border: 1px solid #2563eb;
}

.youtube-form .response-wrap textarea{
    display: inline-block;
    padding: 0 16px 0 12px;
    width: 100%;
    line-height: 30px;
    height: 200px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(8, 7, 7);
    transition: border .1s linear,background-color .1s linear;
    resize: none;
    line-height: 1.5;
}

.youtube-form .response-wrap textarea:focus{
    outline: none;
    border: 1px solid #2563eb;
}

.youtube-form .response-wrap a.copy-btn{
    color: #ffffff;
    background-color: #2563eb;
    height: 32px;
    width: 40px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.youtube-form .response-wrap a.copy-btn svg{
    fill: white;
    width: 20px;
    height: 20px;
}

.show-popUp{
    position: absolute;
    top: 90px;
    color: #1d4ed8;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    background-color: #93c5fd;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    animation: fadeIn .2s ease-in-out;
}

.show-popUp.false{

display: none;

}



@keyframes fadeIn {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}







@media screen and (max-width: 1000px){
    .youtube-upload{
        padding: 0 5%;
    }
    .youtube-form{
        width: 100%;
    
    }
    .youtube-form .response-wrap{
        width: 60%;
    }
    
}

/* .youtube-upload {
    font-family: 'Roboto-Regular';
    min-height: 100vh;
    padding: 0 25%;
    background-color: #171717;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.youtube-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.imageGen{
    border-radius: 10px;
    max-width: 300px;
    max-height: 170px;
}

.video-add-btn {
    height: 45px;
    font-family: 'Roboto-Regular';
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #171717;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

input[type="file"] {
    display: none;
}

.top-btns{
    display: flex;
    gap: 20px;
    align-items: center;
}

.title-input{
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 46px;
    width: 500px;
    appearance: none;
    transition: border 0.15s ease 0s; 

}

.description-input{
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 200px;
    width: 500px;
    appearance: none;
    transition: border 0.15s ease 0s;  
    resize: none;
}

.label-upload{
    display: flex;
    font-size: 1rem;
    align-items: center;
}

.label-upload svg{
    height: 30px;
    width: 30px;
    fill: #171717;
}

.send-video-btn{
    font-size: 1rem;
    font-family: 'Roboto-Regular';
    margin: 10px;
    border: none;
background-color: #f3f030;
color: rgb(0, 0, 0);
padding: 14px 20px;
border-radius: 3px;
cursor: pointer;
}

.send-video-btn.disabled{
    background-color: #b1ae0e;
    cursor: not-allowed;
}

.upload-video-btn{
    cursor: pointer;
    border: none;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-family: 1rem;
    border-radius: 10px;
    margin-top: 15px;
}

.upload-video-btn.disabled{
    cursor: not-allowed;
    background-color: #b6b6b6;
    color: black;
    padding: 10px 20px;
    font-family: 1rem;
    border-radius: 10px;
    margin-top: 15px;
}

.buy-btn{
    padding: 6px 12px;
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.buy-btn:hover{
background-color: #e0e0e0;
}

.download-img-wrapper{
    display: flex;
    gap: 20px;
    align-items: center;

}

.download-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #171717;
    background-color: white;
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.download-svg{
    width: 30px;
    height: 30px;
}



.download-btn.disabled{
    background-color: #b6b6b6;
    cursor: default;
}

.copy-btn{
    color:black;
    background-color: white;
    padding: 5px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.response-wrap{
    display: flex;
    gap: 10px;
}

.copy-svg{
    fill: black;
}

.show-popUp{
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
    background-color: rgb(255, 242, 55);
    color: black;
    padding: 6px 12px;
    border-radius: 10px;
    animation: .3s fadeIn ease-in-out;
}

.cost{

    font-family: 'Roboto-Bold';
    color: white;

}

.video-error{
    color: red;
    font-size: 1rem;
    font-family: 'Roboto-Regular';

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    .youtube-upload{
        padding: 0 10%;
    }
    .title-input{
        width: 100%;
    }
    .description-input{
        width: 100%;
    }
    
}

 */
