@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/ProductSansRegular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(./assets/ProductSansBold.ttf);
}

.youtube-upload {
    font-family: 'Roboto-Regular';
    min-height: 100vh;
    padding: 0 25%;
    background-color: #171717;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.youtube-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.imageGen{
    border-radius: 10px;
    max-width: 300px;
    max-height: 170px;
}

.video-add-btn {
    height: 45px;
    font-family: 'Roboto-Regular';
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #171717;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

input[type="file"] {
    display: none;
}

.top-btns{
    display: flex;
    gap: 20px;
    align-items: center;
}

.title-input{
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 46px;
    width: 500px;
    appearance: none;
    transition: border 0.15s ease 0s; 

}

.description-input{
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 200px;
    width: 500px;
    appearance: none;
    transition: border 0.15s ease 0s;  
    resize: none;
}

.label-upload{
    display: flex;
    font-size: 1rem;
    align-items: center;
}

.label-upload svg{
    height: 30px;
    width: 30px;
    fill: #171717;
}

.send-video-btn{
    font-size: 1rem;
    font-family: 'Roboto-Regular';
    margin: 10px;
    border: none;
background-color: #f3f030;
color: rgb(0, 0, 0);
padding: 14px 20px;
border-radius: 3px;
cursor: pointer;
}

.send-video-btn.disabled{
    background-color: #b1ae0e;
    cursor: not-allowed;
}

.upload-video-btn{
    cursor: pointer;
    border: none;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-family: 1rem;
    border-radius: 10px;
    margin-top: 15px;
}

.upload-video-btn.disabled{
    cursor: not-allowed;
    background-color: #b6b6b6;
    color: black;
    padding: 10px 20px;
    font-family: 1rem;
    border-radius: 10px;
    margin-top: 15px;
}

.buy-btn{
    padding: 6px 12px;
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.buy-btn:hover{
background-color: #e0e0e0;
}

.download-img-wrapper{
    display: flex;
    gap: 20px;
    align-items: center;

}

.download-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #171717;
    background-color: white;
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.download-svg{
    width: 30px;
    height: 30px;
}



.download-btn.disabled{
    background-color: #b6b6b6;
    cursor: default;
}

.copy-btn{
    color:black;
    background-color: white;
    padding: 5px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.response-wrap{
    display: flex;
    gap: 10px;
}

.copy-svg{
    fill: black;
}

.show-popUp{
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
    background-color: rgb(255, 242, 55);
    color: black;
    padding: 6px 12px;
    border-radius: 10px;
    animation: .3s fadeIn ease-in-out;
}

.cost{

    font-family: 'Roboto-Bold';
    color: white;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    .youtube-upload{
        padding: 0 10%;
    }
    .title-input{
        width: 100%;
    }
    .description-input{
        width: 100%;
    }
    
}


